// Issue 27 Titlepage Styles

// Default Colors

$white: rgba(255, 255, 255, 1) !default;
$black: rgba(0, 0, 0, 1) !default;

// Titlepage color scheme

$titlepage-background-color: $black !default;
$titlepage-text-color: $white !default;

// Variables used for titlepage. Class name must be added to the spread on the
// titlepage, e.g., `::: spread:pos-titlepage-default classes:i27-titlepage`

$titlepage-spread-class-name: 'i27-titlepage' !default;

// Height of spread-contents used for vertical alignment in pixels

$spread-height: 600px !default;

$titlepage-text-aligment: left !default;

// Mixin for including background image on titlepage

/*
@if $build== 'reader' {
 #titlepage-id-spread{
   @include fullbleed-background-image("image.jpg", $background-size: cover);
 // Optional Mobile background image
   @include break('mobile') {
   @include fullbleed-background-image("image-mobile.jpg", $background-size: cover);
   }
 }
*/

// Markdown for title page. Can be copied over to titlepage chapter.

/*
::: titlepage:titlepage-id

::: spread:titlepage-id-spread classes:i27-titlepage

::: subchapter:spread-contents

<h1 class="project-title">Project Title</h1>
<div class="title-author">
<span class="authors"><span class="author first">by <a href="https://www.canopycanopycanopy.com/contributors/">First Last</a></span></span>
</div>

<div class="subhead">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta consectetur nisl. Sed at vehicula justo. Nulla ac fermentum lorem. Etiam et auctor ligula, vel tincidunt felis. Integer nibh augue, bibendum quis euismod nec, porta a est.
  </p>
</div>

<div class="project-context">
  <span class="collection"><a href="https://canopycanopycanopy.com#issue-link"></a></span>
  <span class="project-type">Digital Project</span>
  <span class="published-datetime">
  Published on <time class="publish-date">Month DD, YYYY</time></span>
</div>

::: exit:spread-contents

::: exit:titlepage-id-spread

::: exit:titlepage-id

*/
