@import '~b-ber-theme-ccc/application';

$font-family: 'Clash';

@if $build== 'reader' {
  // prettier-ignore
  @font-face {
    font-family: $font-family;
    src: url('https://b-ber-fonts.s3.amazonaws.com/ClashDisplay-Semibold.eot');
    src: url('https://b-ber-fonts.s3.amazonaws.com/ClashDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
         url('https://b-ber-fonts.s3.amazonaws.com/ClashDisplay-Semibold.woff2') format('woff2'),
         url('https://b-ber-fonts.s3.amazonaws.com/ClashDisplay-Semibold.woff') format('woff'),
         url('https://b-ber-fonts.s3.amazonaws.com/ClashDisplay-Semibold.ttf') format('truetype');
  }

  // Title page styles
  @if $build == 'reader' {
    .#{$titlepage-spread-class-name} .spread__content {
      background-color: $titlepage-background-color;
      color: $titlepage-text-color;
      padding: 72px 6% 0 5%;

      @include break('mobile') {
        padding: 0;
      }

      @include break('mobile-landscape') {
        padding: 0;
      }

      #spread-contents {
        height: auto;
        width: auto;
        margin: initial;
        max-width: 680px;
        float: none;
        position: relative;
        z-index: 1001;

        @include break('mobile') {
          max-width: 400px;
          padding-left: 20px;
          padding-right: 20px;
        }

        @include break('mobile-landscape') {
          max-width: 600px;
        }

        @include break('desktop') {
          max-width: 100vw;
        }

        h1,
        span.authors {
          @include type-settings(12);
          line-height: 0.95em;
          letter-spacing: 0.03em;
          -webkit-font-smoothing: antialiased;
          color: inherit;
          font-family: $font-family;
          font-style: normal;
          font-weight: 700;
          text-align: $titlepage-text-aligment;
          display: inline-block;
          position: relative;
          padding: 0;
          margin: 0;
          hyphens: none;

          @include break('desktop') {
            @include type-settings(19);
            line-height: 0.9em;
            width: 90%;
          }
          a {
            color: $titlepage-text-color;
            text-decoration: none;
          }
        }

        .subhead {
          margin: one-line(-4) 0;
          width: 100%;
          position: relative;
          @include break('mobile') {
            padding: 0;
          }

          p {
            @include type-settings(0);
            text-align: $titlepage-text-aligment;
            margin: 0;
            hyphens: none;
            width: 90%;
            min-width: auto;
            max-width: 90%;
            padding: 0;
            @include break('desktop') {
              width: 55%;
              @include type-settings(0);
              line-height: 1.15em;
            }
            a,
            a:link,
            a:visited {
              color: $titlepage-text-color;
              text-decoration: underline;
            }
          }
        }

        .project-context {
          @include type-settings(-9);
          position: relative;
          float: left;
          width: 100%;
          margin-top: 0;
          bottom: unset;
          color: inherit;
          display: block;

          .project-type {
            display: inline-block;
          }

          a {
            color: inherit;
            text-decoration: none;
            width: 25px;
            display: inline-block;
            height: 25px;
            overflow: visible;
            margin-top: -6px;

            span {
              display: none;
            }

            &:after {
              font-family: $font-glyphs;
              content: '\e027';
              color: inherit;
              font-size: 44px;
              position: relative;
              top: 8px;
              line-height: 0;
            }
          }

          span {
            font-family: $font-free-universal;
            margin-right: 16px;
          }

          .published-datetime {
            display: inline-block;
            font-size: inherit;
            line-height: inherit;
            margin: 0;
          }
        }
      }
    }
  }
}

// Issue 27 Titlepage Overlay styles and animation with typo in name. Leaving to avoid recursive errors.

@keyframes disappearing__i26__overlay {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@mixin i26__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: block;
  top: 0;
  left: 0;
  content: '';
  animation: disappearing__i26__overlay 15s normal forwards;
  animation-iteration-count: 1;
  @include break('mobile') {
    top: 0px;
  }
}

// Issue 27 Titlepage Overlay styles and animation

@keyframes disappearing__i27__overlay {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@mixin i27__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: block;
  top: 0;
  left: 0;
  content: '';
  animation: disappearing__i26__overlay 15s normal forwards;
  animation-iteration-count: 1;
  @include break('mobile') {
    top: 0px;
  }
}
